/* HERO SECTION 
=================== */
.home-hero-section {
  width: 100vw;
  height: 100vh;
}

.home-hero-container {
  width: 93%;
  height: 100%;
  margin: 6em auto;
  background-color: aqua;
  border-radius: 20px;
  background-image: url("/src/assets/imgs/woman-girl-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  display: flex;
  flex-direction: column;
  gap: 1em;

  position: relative;
}

/* Images */
.home-images-one {
  position: absolute;
  top: 40%;
  left: 5%;
}

.home-images-one img {
  width: 25em;
}

.home-images-one img:nth-child(2) {
  position: absolute;
  top: 40%;
  left: 1%;
}

.home-images-one img:nth-child(3) {
  position: absolute;
  top: 15%;
  left: 1%;
}

.home-hero-content {
  position: absolute;
  bottom: 20%;
  left: 5%;
}

.home-images-two {
  display: none;
}

/* Text */
.home-hero-heading {
  font-size: 3em;
  font-weight: 500;
  color: white;
}

.home-hero-para {
  font-size: 18px;
  color: white;
}

/* Button */
.home-hero-button {
  position: absolute;
  left: 0;
  top: 7em;
}

/*Download Button*/
.home-hero-button .download-button {
  background-color: #25d366;
  padding: 0 1em;
  height: 2.2em;
  line-height: 2.2em;
  border-radius: 100px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.home-hero-button .download-button::before {
  content: "";
  position: absolute;
  right: 30%;
  top: 50px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100px;
  z-index: 1;
  transition: all 0.5s ease;
}

.home-hero-button .download-text {
  display: inline-block;
  padding-right: 10px;
  position: relative;
  z-index: 5;
}

.home-hero-button svg {
  position: relative;
  z-index: 5;
}

/* gray Text */
.home-hero-para-overflow-text {
  font-size: 12px;
  color: rgb(75, 74, 74);
  position: absolute;
  right: 0;
  bottom: -20px;
}

/* Hover */
.home-hero-button .download-button:hover::before {
  height: 100%;
  height: 100%;
  inset: 0;
}

/* Media Queries */
@media screen and (min-width: 760px) {
  .home-hero-container {
    background-image: url("/src/assets/imgs/woman-girl.png");
  }
}

@media screen and (min-width: 900px) {
  .home-images-two {
    display: block;
  }

  .home-hero-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
  }

  .home-images-two img:nth-child(1) {
    width: 400px;
    position: absolute;
    right: 4em;
    top: 4em;
  }

  /* two girls */
  .home-images-two img:nth-child(2) {
    width: 400px;
    position: absolute;
    right: 4em;
    top: 10em;
  }

  /* Emoji */
  .home-images-two img:nth-child(3) {
    height: 40px;
    position: absolute;
    right: 6em;
    top: 23.5em;
  }

  /* can't wait text */
  .home-images-two img:nth-child(4) {
    width: 400px;
    position: absolute;
    right: 4em;
    bottom: 3em;
  }

  .home-images-one {
    position: absolute;
    top: 15%;
    left: 5%;
  }
  .home-hero-content {
    bottom: 40%;
  }

  .home-hero-button {
    top: 11em;
  }
}

/* USER SECTION 
=================== */
.home-user-section {
  width: 100vw;
  /* height: 100vh; */
  padding: 2em;
}

.user-section-container {
  width: 95%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
}

.user-section-img {
  width: 100%;
  height: 12em;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.user-section-top-img {
  background-image: url("/src/assets/imgs/people-top-mobile.png");
}

.user-section-bottom-img {
  background-image: url("/src/assets/imgs/people-bottom-mobile.png");
}

.user-section-text p {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 1em 0;
}

/* Media Queries */
@media screen and (min-width: 760px) {
  .user-section-top-img {
    background-image: url("/src/assets/imgs/people-top.png");
  }

  .user-section-bottom-img {
    background-image: url("/src/assets/imgs/people-bottom.png");
  }
}

/* CALLS SECTION 
=================== */
.call-main-tag {
  background-color: white;
}

.calls-section-btn {
  display: flex;
  cursor: pointer;
}

.calls-section-btn:hover {
  color: #25d366;
}

.calls-section-btn:hover span svg {
  stroke: #25d366;
}

.calls-section-btn span:nth-child(1) {
  font-size: 20px;
  border-bottom: 2px solid #25d366;
}

.calls-section-btn span:nth-child(2) {
  margin-top: 5px;

  margin-left: 5px;
  display: inline-block;
}

/* SPEAK SECTION 
=================== */
.speak-section {
  width: 100vw;
}

.speak-main-tag {
  background-color: #111b21;
}

.speak-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
}

/* content */
.speak-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.h1-heading-text {
  font-size: 2em;
  color: black;
  font-weight: 400;
}

.speak-h1-tag {
  color: white;
}

.speak-content h1 em {
  font-style: normal;
  color: #25d366;
}

.para-text {
  color: black;
  margin: 1em 0;
  font-size: 1.2em;
}

.speak-p-tag {
  color: white;
}

.cs-speak-btn {
  color: white;
}

/* images */
.speak-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
}

.speak-image img {
  height: 100%;
}

/* Media */
@media screen and (min-width: 760px) {
  .speak-container {
    width: 80%;
    flex-direction: row-reverse;
    gap: 2em;
    margin: 0 auto;
  }

  .speak-content {
    height: 500px;
    justify-content: center;
  }

  .speak-content h1 {
    font-size: 4em;
    line-height: ;
  }
}

@media screen and (min-width: 1080px) {
  .speak-container {
    width: 60%;
  }
}
