*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: calibri;
}

img {
  width: 100;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

button {
  all: unset;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  text-align: inherit;
}
